.slide-left {
  animation: slide infinite linear;
  animation-duration: calc(10s)
}

.slide-right {
  animation: slide infinite linear;
  animation-direction: reverse;
  animation-duration: calc(10s)
}

.slide:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 26rem));
  }
}

@media (min-width: 768px) {
  .slide-left {
    animation-duration: calc(25s);
  }

  .slide-right {
    animation-duration: calc(25s);
  }
}


