:root {
  --duration: 1;
}

.slide {
  animation: slide infinite linear;
  animation-duration: calc(20s * var(--duration));
}

.slide:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 24rem));
  }
}

@media (min-width: 768px) {
  .slide {
    animation-duration: calc(10s * var(--duration));
  }
}
