:root {
  --duration: 1;
}

.slide-left {
  animation: slide infinite linear;
  animation-duration: calc(20s * var(--duration));
}

.slide-right {
  animation: slide infinite linear;
  animation-direction: reverse;
  animation-duration: calc(20s * var(--duration));

}

.slide:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 22rem));
  }
}

@media (min-width: 768px) {
  .slide {
    animation-duration: calc(10s * var(--duration));
  }
}


